<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
    <meta charset="utf-8"> {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'midburn/css/style.css' %}" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="{% static 'midburn/js/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'midburn/js/lodash.min.js' %}"></script>
    <script src="{% static 'midburn/js/restangular.js' %}"></script>

</head>

<body>
    <!-- Base template -->
    {% block content %}{% endblock content %} {% block extra_javascript %}{% endblock extra_javascript %}
</body>

<script src="{% static 'midburn/js/app.js' %}"></script>

</html>