{# ENGLISH THEME CAMPS INDEX PAGE #}

{% extends "base.html" %}

{% block extra_style %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/camps-index.css' %}"/>
{% endblock %}

{% block content %}
    <body>
    <!-- Headline intro -->
    <div class="container">
        <div class="row">
            <div class="panel panel-heading transparent" id="page-description">
                <h2>This page lists registered theme camps for Midburn 2016.</h2>
                <h3 class="align-left">
                    The Open Camp sign <span class="camp-icn-open camp-icn-example"></span> represents camps with
                    vacancy for more participants.
                    The names and descriptions where supplied by the camps organizers and are under their
                    responsibility.
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 blog-main">

                {% for camp in published_camps %}

                    <div id="camp-card" class="col-md-6 col-sm-6">
                        <article class="blog-teaser">
                            <header>
                                <!-- Camp Name -->
                                <div class="camp-name">
                                    <h3>
                                        {{ camp.camp_name_en }}
                                    </h3>
                                </div>

                                <!-- Camp Icons -->
                                <div class="camp-icn">
                                    <!-- Camp Status VAR: camp.camp_status -->
                                    {% if camp.camp_status == 1 %}
                                        <span class="camp-icn-open"></span>
                                    {% endif %}

                                    <!-- Accepting families -->
                                    <span class="camp-icn-families-{{ camp.accepting_families }}"></span>
                                </div>

                                <!-- Camp Description -->
                                <div class="camp-desc langEnglish">
                                    {{ camp.camp_desc_en | linebreaks }}
                                </div>
                                <hr>
                            </header>

                            <!-- Camp Full Details (*Collapsed) -->
                            <div id="campId{{ camp.pk }}" class="body collapse">

                                <!-- Camp Contact Details -->
                                <div class="camp-contact-details">
                                    <i class="fa fa-heart-o"></i> Contact Us
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <i class="fa fa-user"></i> {{ camp.contact_name_en }}
                                        </li>

                                        {% if camp.contact_email %}
                                            <li class="list-group-item">
                                                <div class="camp-contactInfo"><i class="fa fa-envelope"></i> Email: <a
                                                        href="mailto:{{ camp.contact_email }}">{{ camp.contact_email }}</a>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {# Contact Facebook #}
                                        {% if camp.contact_facebook %}
                                            <li class="list-group-item">
                                                <div class="camp-contactInfo"><i class="fa fa-facebook-square"></i>
                                                    Facebook: {{ camp.contact_facebook }}
                                                </div>
                                            </li>
                                        {% endif %}
                                        {# Contact Phone #}
                                        {% if camp.contact_phone %}
                                            <li class="list-group-item">
                                                <div class="camp-contactInfo"><i class="fa fa-phone-square"></i> Phone
                                                    number: <a
                                                            href="tel:{{ camp.contact_phone }}">{{ camp.contact_phone }}</a>
                                                </div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            {% if camp.camp_status == 1 %}
                                <div class="clearfix">
                                    <div class="center-block">
                                        <a data-toggle="collapse" data-target="#campId{{ camp.pk }}"
                                           class="btn btn-default">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </article>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('.camp-desc').collapser({
                mode: 'lines',
                truncate: 3
            });
        });
    </script>
    </body>
{% endblock %}