{% extends "base.html" %}

{% block content %}
    {% verbatim %}
    <body ng-app="MidburnCampsApp" onload="InitAll()">
    <div class="main-wrapper" ng-controller="appCtrl as ctrl">
        <div class="topbar-wrapper">
            <div class="topbar">
                <!-- Midburn Logo -->
                <div class="midburn"></div>
                <div class="topbar-controls">
                    <ul class="topbar-menu">
                        <li class="topbar-menu-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#helpModal">
                                Help!
                            </button>
                        </li>
                        <li class="topbar-menu-item"><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <sidebar sidebar-items="ctrl.sidebarItems" selected-item="currentState"></sidebar>
        <div class="mainViewWrapper view-animate-container">
            <div class="view-animate mainView" ui-view></div>

            <!-- Help Modal -->
            <div id="helpModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                <div class="">Need help ?</div>
                                <div class="langHebrew float-right">צריכים עזרה?</div>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="langHebrew float-right">
                                <p>
                                <h4>אנחנו כאן בשבילכם!</h4>
                                מוזמנים לשלוח מייל ל themecamps@midburn.org

                                צוות מחנות הנושא
                                </p>
                            </div>

                            <p>
                            <h4>We are here to help!</h4>
                            Feel free to send an email to: themecamps@midburn.org

                            Theme Camps team
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <helper helper-items="helpCtrl.helperItems" class="HelpPanelWrapper"></helper>
    </div>

    </body>
    {% endverbatim %}
{% endblock %}