<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Midburn | Theme Camp Registration</title>

    {% load staticfiles %}

    <!--    Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'midburn/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'midburn/css/foundation-icons.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'midburn/css/style.css' %}"/>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'midburn/css/foundation.min.css' %}" />#}

    <!--    Scripts -->
    <script src="{% static 'midburn/js/angular.min.js' %}"></script>
    <script src="{% static 'midburn/js/angular-animate.min.js' %}"></script>
    <script src="{% static 'midburn/js/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'midburn/js/lodash.min.js' %}"></script>
    <script src="{% static 'midburn/js/restangular.js' %}"></script>

</head>

<body ng-app="MidburnCampsApp" onload="InitAll()">

<div class="main-wrapper" ng-controller="IndexCtrl as ctrl">

    <div class="topbar-wrapper">
        <div class="topbar">

            <div class="midburn"></div>

            <div class="topbar-controls">
                <ul class="topbar-menu">
                    <li class="topbar-menu-item">
                        <button class="btn btn-primary">Questions</button>
                    </li>
                    <li class="topbar-menu-item"><a href="">Profile</a></li>
                    <li class="topbar-menu-item"><a href="">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>

    <sidebar sidebarItems=ctrl.sidebarItems>
        <div class="sidebar-menu-controls">
            <collection collection='menuItems'></collection>
        </div>
        <!-- END - Sidebar-->
    </sidebar>

    <!-- Main View   -->
    {% verbatim %}

    <div class="mainViewWrapper view-animate-container">
        <div class="view-animate mainView" ui-view>
        </div>
    </div>


    <div class="HelpPanelWrapper">
        <h3>Camp Description</h3>

        <p>
            The way you describe your camp can help people better undestand what you’re all about.
            Be sure to keep it fun, but informative.
            Need help filling out the form? Ask us!
        </p>
    </div>


</div>
{% endverbatim %}
<!-- END - Main View   -->

</div>

</body>

<script src="{% static 'midburn/js/app.js' %}"></script>

<!--    jQuery & Bootstrap implement -->
<script src="{% static 'midburn/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'midburn/js/bootstrap.min.js' %}"></script>
<script src="{% static 'midburn/js/engine.js' %}"></script>
{#<script src="{% static 'midburn/js/foundation.min.js' %}"></script>#}

</html>