/* FONTS */

/* Google Lato */

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Alef */

@font-face {
    font-family: 'Alef-Bold';
    src: url('../fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Bold.woff') format('woff'), url('../fonts/Alef-Bold.ttf') format('truetype'), url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Regular.woff') format('woff'), url('../fonts/Alef-Regular.ttf') format('truetype'), url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* END FONTS */

html,
body {
    height: 100%;
    font-family: 'Alef', 'Lato', sans-serif !important;
}

.langHebrew {
    direction: rtl;
}

.langEnglish {
    direction: ltr;
}

/* Header Style */

.topbar {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
    box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
}

.topbar div {
    display: inline-block;
}

.topbar-menu {
    list-style: none;
    position: absolute;
    top: 12px;
    right: 20px;
}

.topbar-menu-item {
    display: inline-block;
    width: auto;
    margin: 2px 6px !important;
}

/* END - Header Style */

.main-wrapper.ng-scope {
    height: 100%;
    position: relative;
}

.midburn {
    width: 80%;
    height: 100%;
    background: url(midburn.png) no-repeat left 0px;
}

.midburn span {
    display: inline-block;
    text-indent: 50px;
    font-size: 16px;
    line-height: 22px;
}

.HelpPanelWrapper {
    visibility: visible;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 80%;
    right: 0;
    padding: 38px 18px;
    box-sizing: border-box;
    background: #ececec;
    transition: all 0.5s ease-in-out;
}

/* Sidebar Style */
.sidebar {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 20%;
    background: #242838;
}

.sidebar-items {
    height: 100%;
    width: 60px;
    background: #1b1e2b;
}

.sidebar-item-active {
    background: #242838;
}

.sidemenu-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 21px 0;
    box-sizing: border-box;
}

.sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    padding: 0;
    list-style: none;
    background: #1b1e2b;
}

.sidebar-menuItem {
    padding: 10px 0;
    display: block;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #70789d;
    transition: all 250ms;
}

.sidebar-menuItem:hover {
    color: #8088ad;
    background: #2b2e3b;
}

.sidebar-menuItem.is-active {
    color: #fff;
    background: #242838;
}

.sidebar-children {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    right: 0;
    padding: 0 20px;
    list-style: none;
    background: #242838;
}

.sidebar-childItem {
    height: 87px;
    line-height: 87px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    transition: all 250ms;
    cursor: pointer;
}

.sidebar-childItem:hover {
    color: #ffc233;
    text-decoration: none;
}

.sidebar-childItem.is-active {
    color: #ffc233;
}

/* End - Sidebar Style*/

.form-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-controls-wrapper {
    width: 100%;
    margin: 20px auto;
}

/* Icons Costume Size */
.large {
    font-size: 35px !important;
}

.flagIcon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: contain !important;
}

.flagIconEnglish {
    background: url(en.png) no-repeat center center;
}

.flagIconHebrew {
    background: url(he.png) no-repeat center center;
}

.iconLightGreen {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: greenyellow;
    border-radius: 100%;
}

.iconLightOrange {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffc233;
    border-radius: 100%;
}

.iconLightRed {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100%;
}

.form-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 30px;
    line-height: 1;
}

.icon-loading {
    width: 30px;
    height: 30px;
    background: url("/static/icons/loading.gif") center center;
    background-size: 100%;
}

/* End - Icons */

.u-red {
    color: red;
}

.u-green {
    color: green;
}

.text-small {
    font-size: 12px;
}

.btn .caret {
    position: absolute;
    top: -1px;
    right: 0;
    background: #1e212f;
    width: 40px;
    height: 38px;
    border-radius: 0 4px 4px 0;
}

.select-box {
    position: relative;
    width: 230px !important;
    height: 38px;
    text-indent: 15px;
    text-align: left;
}

/* Padding */

.margin-both-sides {
    margin: 0 20px;
}

.two-column-padding {
    margin-right: 30px;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

/* End - Padding */

.camp-desc {
    line-height: 20px !important;
    /*word-wrap: break-word;*/
}

label.status-select {
    position: relative;
    right: auto;
    left: -160%;
}

.camp_details textarea {
    width: 300px;
}

/* Bootstrap (Overrides) */

.row {
    margin: 0 0 30px;
}

/* END - Bootstrap (Overrides) */

.dropdownArrow {
    display: block;
    width: 40px;
    height: 40px;
    background: #1e212f;
    float: right;
    color: #fff !important;
}

.lblLarge {
    display: block;
    height: 100%;
    padding-top: 55px;
}

/* NG-Animation (Page Loader) */

.view-animate-container {
    position: absolute;
    overflow: auto;
    top: 60px;
    bottom: 0;
    left: 20%;
    right: 20%;
    padding: 10px;
    box-sizing: border-box;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    /*display: block;
    width: 100%;
    height: 5px;*/
    background: rgba(31, 69, 92, 0.5);
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;*/
}

/*.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}*/

/* END - NG-Animation*/

/* UI STYLE */

/*Checkbox*/

.checkbox-4 {
    margin: 8px;
    width: 200px;
    display: block;
    text-indent: 15px;
}

.checkbox-4 label {
    position: relative;
    display: block;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.2s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.checkbox-4 label:after {
    position: absolute;
    display: block;
    content: '';
    width: 0px;
    height: 8px;
    top: 4px;
    left: 3px;
    background-color: #868686;
    -webkit-transition: 0.1s 0.1s linear;
    -moz-transition: 0.1s 0.1s linear;
    transition: 0.1s 0.1s linear;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.checkbox-4 input[type="checkbox"]:checked ~ label:after {
    width: 16px;
    height: 8px;
    top: 10px;
    left: 1px;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
}

.checkbox-4 label:before {
    position: absolute;
    display: block;
    content: '';
    width: 0px;
    height: 8px;
    top: 10px;
    left: 14px;
    background-color: #868686;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    transition: 0.1s linear;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.checkbox-4 input[type="checkbox"]:checked ~ label:before {
    width: 24px;
    height: 8px;
    top: 7px;
    left: 6px;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
}

input[type="checkbox"] {
    display: none;
}

/*end-checkbox*/

.arrow-down {
    background: url(arrow-down.png) no-repeat center center;
    display: block;
    width: 20px;
    height: 20px;
    margin: 6px;
}

/* END - UI STYLE */

/*  */
textarea {
    height: 121px !important;
}

/*  */

/* Validation Style */
.validatorReqError {
    color: darkred;
}

/* End - Validation Style */

/* Switch Button Style */
.active, .inactive {
    font-size: 40px;
    cursor: pointer;
}

i.active {
    color: #5cb85c
}

i.inactive {
    color: #d9534f
}

/* END - Switch Button Style */

/* Sign in forms style */
.input-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

input#id_password, input#id_email {

}

/*END - Sign in forms style*/

.help-panel-wrapper ul
{
    list-style-type: none;
}
