<div class="jumbotron">
    <div class="container-one">
        <h2>Regular polls data pulling</h2> {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li>
                T: {{ question.pub_date }}
                <br><a href="{% url 'polls:detail' question.id %}">Q: {{ question.question_text }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}

    </div>