<form>
    <div class="form-controls-wrapper">

        <div class="panel panel-default">
            <div class="panel-body">
                Details about your camp
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Camp Size</div>

            <div class="col-md-7">
                <div class="col-md-2">
                    <input id="inCampSize" type="number" class="form-control" placeholder=""/>
                </div>
                How many members in your camp?
            </div>

        </div>

        <div class="row">

            <div class="col-md-2">Camp Style</div>

            <div class="col-md-7">


                    <div class="checkbox-4">
                        <input type="checkbox" id="checkbox-4">
                        <label for="checkbox-4"></label>
                    </div>


                <div class="col-md-5" ng-controller="CampStylesController">

                    <div ng-repeat="style in campStyles">

                        <label class="checkbox" for="{{ style.Id }}">
                            <div class="checkbox">
                                <input type="checkbox" ng-model="selection.ids[style.Id]"
                                       id="{{ style.Id }}" name="group"/>
                                {{ style.Title }}
                            </div>
                        </label>

                    </div>
                    <!--<pre ng-bind="selection.ids | json"></pre>-->
                </div>

                <div class="col-md-5">


                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Camp Description</div>

            <div class="col-md-7">
                <div class="col-md-5">
                    <textarea id="inCampDescEn" class="form-control" placeholder=""></textarea>
                </div>
                <div class="col-md-5">
                    <textarea id="inCampDescHe" class="form-control langHebrew" placeholder=""></textarea>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-2">Contact Name</div>

            <div class="col-md-7">
                <div class="col-md-5">
                    <input id="inContactNameEn" type="text" class="form-control" placeholder=""/>
                </div>
                <div class="col-md-5 ">
                    <input id="inContactNameHe" type="text" class="form-control langHebrew" placeholder=""/>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-2">Email</div>

            <div class="col-md-6">
                <input id="inEmailAddress" type="text" class="form-control" placeholder=""/>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Phone Number</div>

            <div class="col-md-6">
                <input id="inPhoneNum" type="text" class="form-control" placeholder=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">Facebook</div>

            <div class="col-md-6">
                <input id="inCampFbAddress" type="text" class="form-control"
                       placeholder="www.facebook.com/your-camp-name"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <button class="btn btn-default">Save Changes</button>
                    <button class="btn btn-primary">Publish</button>
                </div>
            </div>
        </div>

    </div>
</form>