<form name="campDetailsForm" ng-controller="CampDetailsController as campCtrl" novalidate>
    <div class="form-controls-wrapper">

        <div class="row">

            <div class="col-md-2">Camp Size</div>

            <div class="col-md-7">
                <div class="col-md-2">
                    <input id="inCampSize" type="number" class="form-control" placeholder=""/>
                </div>
                How many members in your camp?
            </div>

        </div>

        <div class="row">

            <div class="col-md-2">Camp Style</div>

            <div class="col-md-7">

                <div class="col-md-5" ng-controller="CampStylesController">

                    <div ng-repeat="style in campStyles">

                        <div class="checkbox-4">
                            <input type="checkbox" ng-model="selection.ids[style.Id]"
                                   id="{{ style.Id }}" name="group"/>
                            <label class="checkbox" for="{{ style.Id }}">
                                {{ style.Title }}
                            </label>
                        </div>

                    </div>
                    <!--<pre ng-bind="selection.ids | json"></pre>-->
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Camp Activity Hours</div>

            <div class="col-md-7">

                <div class="col-md-5" ng-controller="CampActivityHrsController">

                    <div ng-repeat="timing in campActivityHrs">

                        <div class="checkbox-4">
                            <input type="checkbox" ng-model="selection.ids[timing.Id]"
                                   id="{{ timing.Id }}" name="group"/>
                            <label class="checkbox" for="{{ timing.Id }}">
                                {{ timing.Title }}
                            </label>
                        </div>

                    </div>
                    <!--<pre ng-bind="selection.ids | json"></pre>-->
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Public Area</div>

            <div class="col-md-4">
                Required space for public activities
                <div class="col-md-5">
                    <input id="inCampSize" type="number" class="form-control" placeholder=""/>
                    (SquareFeet)
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-5">
                    Explain the use of the space
                    <textarea id="inCampDescEn" class="form-control" placeholder=""></textarea>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-2">Noise Level</div>

            <div class="col-md-7">
                <div class="col-md-5 no-padding-left">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle no-padding select-box" type="button"
                                id="campNoiseLvlSelect"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true"
                                onclick="InitFormLogic.campNoiseLvlSelect()">
                            Select
                            <span class="caret"><i class="arrow-down"></i></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="campStatusSelect">
                            <li id="campNoiseNone"><a href="#"> <i class="fa fa-volume-off"></i> No Noise</a>
                            </li>
                            <li id="campNoiseMed"><a href="#"> <i class="fa fa-volume-down"></i> Medium Noise </a>
                            </li>
                            <li id="campNoiseHard"><a href="#"> <i class="fa fa-volume-up"></i> Hard Noise </a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-2">Child Friendly?</div>

            <div class="col-md-6">

                <div ng-controller="CampDetailsController" ng-init="init()">
                    <div class="">
                        <i class="fa fa-toggle-on active" ng-if="childStatus == true" ng-click="changeStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="childStatus == false"
                           ng-click="changeStatus();"></i>

                        <div>
                            <span ng-show="model">{{ model }}</span>
                            <span ng-hide="model">{{ model }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Performance Art Supporter?</div>

            <div class="col-md-6">

                <div ng-controller="CampDetailsController" ng-init="init()">
                    <div class="">
                        <i class="fa fa-toggle-on active" ng-if="artStatus == true" ng-click="changeStatus();"></i>
                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="artStatus == false"
                           ng-click="changeStatus();"></i>

                        <div>
                            <span ng-show="model">{{ model }}</span>
                            <span ng-hide="model">{{ model }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="" style="float: right;">
                    <button class="btn btn-default margin-both-sides">Save Changes</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="siteContentForm.$invalid">Publish
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>
<script>
    $("[name='my-checkbox']").bootstrapSwitch();
</script>