/* FONTS */

/* Google Lato */

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Alef */

@font-face {
    font-family: 'Alef-Bold';
    src: url('../fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Bold.woff') format('woff'), url('../fonts/Alef-Bold.ttf') format('truetype'), url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Regular.woff') format('woff'), url('../fonts/Alef-Regular.ttf') format('truetype'), url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* END FONTS */

html,
body {
    height: 100% !important;
    font-family: 'Alef', 'Lato', sans-serif !important;
}

.langHebrew {
    direction: rtl;
}

.langEnglish {
    direction: ltr;
}

/* Header Style */

.topbar {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
    box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
}

.topbar div {
    display: inline-block;
}

.topbar-menu {
    list-style: none;
    position: absolute;
    top: 12px;
    right: 20px;
}

.topbar-menu-item {
    display: inline-block;
    width: auto;
    margin: 2px 6px !important;
}

/* END - Header Style */

.main-wrapper.ng-scope {
    height: 100%;
    position: relative;
}

.midburn {
    width: 80%;
    height: 100%;
    background: url(midburn.png) no-repeat left 0px;
}

.midburn span {
    display: inline-block;
    text-indent: 50px;
    font-size: 16px;
    line-height: 22px;
}

.mainViewWrapper {
    display: inline-block;
    width: calc(100% - 60px - 320px);
    padding: 20px 40px;
    margin: 0 20px 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.HelpPanelWrapper {
    display: inline-block;
    visibility: hidden;
    width: 320px;
    height: 0;
    background: #ececec;
    position: absolute;
    right: 0%;
    padding: 38px 18px;
    box-sizing: border-box;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

/* Sidebar Style */

sidebar {
    display: inline-block;
    width: 60px;
    height: 100%;
    background: #1b1e2b;
    position: absolute;
}

.sidemenu-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 21px 0;
    box-sizing: border-box;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 80px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-menu a {
    color: #70789d;
}

.sidebar-menu a:hover {
    color: #fff;
    background: #242838;
    text-decoration: none;
}

.menu-item-icon {
    display: block;
    width: 100%;
    height: 80%;
}

/* END - Sidebar Style*/

.form-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-controls-wrapper {
    width: 100%;
    margin: 20px auto;
}

/* Icons Costume Size */
.large {
    font-size: 35px !important;
}

.flagIcon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: contain !important;
}

.flagIconEnglish {
    background: url(en.png) no-repeat center center;
}

.flagIconHebrew {
    background: url(he.png) no-repeat center center;
}

.iconLightGreen {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: greenyellow;
    border-radius: 100%;
}

.iconLightOrange {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffc233;
    border-radius: 100%;
}

.iconLightRed {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100%;
}

/* END - Icons */

.text-small {
    font-size: 12px;
}

.btn .caret {
    position: absolute;
    top: 0;
    right: 0;
    background: #1e212f;
    width: 40px;
    height: 38px;
}

.select-box {
    position: relative;
    width: 200px !important;
    height: 40px;
    border-radius: 0 !important;
    text-indent: 15px;
}

.no-padding {
    padding: 0 !important;
}

.camp-desc {
    line-height: 20px !important;
}

.camp-name {
    line-height: 160px !important;
}

label.status-select {
    position: relative;
    right: auto;
    left: -160%;
}

.camp_details textarea {
    width: 300px;
}

.paddingRightZero {
    padding-right: 0 !important;
}

.paddingLeftZero {
    padding-left: 0 !important;;
}

/* Bootstrap (Overrides) */

.row {
    margin: 0 0 20px;
}

.dropdownArrow {
    display: block;
    width: 40px;
    height: 40px;
    background: #1e212f;
    float: right;
    color: #fff !important;
}

.lblLarge {
    display: block;
    height: 100%;
    padding-top: 55px;
}

/* END - Bootstrap (Overrides) */

/* NG-Animation (Page Loader) */

.view-animate-container {
    position: relative;
    overflow: hidden;
    left: 40px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
    display: block;
    width: 100%;
    height: 5px;
    background: rgba(31, 69, 92, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}

/* END - NG-Animation*/


/* UI STYLE */

/*Checkbox*/
/* checkbox 4 */
.check-4 {
	width: 372px;
	background-color: #F5BA4E;
	padding: 24px 48px;
	float: left;
	clear: both;
}
.checkbox-4 { margin: 48px; float:left; }
.checkbox-4 label { display: block;	cursor: pointer; }
.checkbox-4 label {
	position: relative;
	width: 28px; height: 28px;
	border: 2px solid #000;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
	-webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; transition: 0.2s ease;
	box-sizing:border-box; -moz-box-sizing:border-box;
}
.checkbox-4 label:after {
	position: absolute;
	display: block;
	content: '';
	width: 0px;
	height: 8px;
	top: 4px;
	left: 3px;
	background-color: #000;
	-webkit-transition: 0.1s 0.1s linear; -moz-transition: 0.1s 0.1s linear; transition: 0.1s 0.1s linear;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
.checkbox-4 input[type="checkbox"]:checked ~ label:after {
	width: 16px;
	height: 8px;
	top: 10px;
	left: 1px;
	transition-delay: 0s; -webkit-transition-delay: 0s; -moz-transition-delay: 0s;
}
.checkbox-4 label:before {
	position: absolute;
	display: block;
	content: '';
	width: 0px;
	height: 8px;
	top: 10px;
	left: 14px;
	background-color: #000;
	-webkit-transition: 0.1s linear; -moz-transition: 0.1s linear; transition: 0.1s linear;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}
.checkbox-4 input[type="checkbox"]:checked ~ label:before {
	width: 24px;
	height: 8px;
	top: 7px;
	left: 6px;
	transition-delay: 0.1s; -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s;
}
input[type="checkbox"] { display: none; }

/*end-checkbox*/

.arrow-down
{
    background: url(arrow-down.png) no-repeat center center;
    display: block;
    width: 20px;
    height: 20px;
    margin: 6px;
}

/* END - UI STYLE */