/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: 'Alef-Bold';
    src: url('fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Bold.woff') format('woff'), url('../fonts/Alef-Bold.ttf') format('truetype'), url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Regular.woff') format('woff'), url('../fonts/Alef-Regular.ttf') format('truetype'), url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* END FONTS */

.he {
    direction: rtl;
}


/* Header Style */

.topbar {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
    box-shadow: 0px 2px 5px 0px rgba(206, 206, 206, 1);
}

.topbar div {
    display: inline-block;
}

.topbar-menu {
    list-style: none;
}

.topbar-menu-item {
    display: inline-block;
    width: auto;
    margin: 2px 6px !important;
}


/* END - Header Style */

html,
body,
main-wrapper {
    height: 100% !important;
}

.main-wrapper.ng-scope {
    height: 100%;
}

body {
    font-family: 'Alef', 'Lato', sans-serif !important;
}

.midburn {
    width: 80%;
    height: 100%;
    background: url(midburn.png) no-repeat left -5px;
}

.midburn span {
    display: inline-block;
    text-indent: 50px;
    font-size: 16px;
    line-height: 22px;
}

.main-view {
    display: inline-block;
    width: calc(100% - 60px);
    float: right;
}


/* Sidebar Style */

sidebar {
    display: inline-block;
    width: 60px;
    height: 100%;
    background: #1b1e2b;
}

.sidemenu-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 21px 0;
    box-sizing: border-box;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 80px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-menu a {
    color: #70789d;
}

.sidebar-menu a:hover {
    color: #fff;
    background: #242838;
    text-decoration: none;
}

.menu-item-icon {
    display: block;
    width: 100%;
    height: 80%;
}


/* END - Sidebar Style*/

.form-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-controls-wrapper {
    width: 50%;
    margin: 25px auto;
}

.form-controls-wrapper .row label {
    width: 70%;
    text-align: center;
    float: right;
}

.form-sidebar-helper {
    display: inline-block;
    width: 20%;
    height: 100%;
    background: #ececec;
}

.form-controls-wrapper .control-label {
    display: inline-block;
    width: 108px;
    font-size: 16px;
    line-height: 35px;
    float: left;
}

.dis-inline-block {
    display: inline-block;
    width: 82.5%;
    height: 100%;
}


/* Icons Custome Size */

.large {
    font-size: 35px !important;
}


/* Input, Textarea */

.wide-input {
    width: 440px !important;
}

.narrow-input {
    width: 200px !important;
    height: 40px;
    float: right;
}

.text-area {
    width: 200px;
    height: 40px;
}

input,
select {
    border-radius: 3px !important;
}

textarea {
    width: 200px;
    height: 121px;
    border-radius: 3px !important;
}

.large-6 {
    padding: 0 !important;
}

.buffer-sm {
    display: block;
    height: 10px;
    margin: 15px 0 15px 0;
}

.en-col {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url(en.png) no-repeat center center;
}

.he-col {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url(he.png) no-repeat center center;
}

.camp-desc {
    line-height: 20px !important;
}

.camp-name
{
    line-height: 160px !important;
}

label.status-select {
    position: relative;
    right: auto;
    left: -160%;
}

