<form name="siteContentForm" ng-submit="ctrl.submit()" novalidate>

    <div class="form-controls-wrapper">
        <div class="row">
            <div class="col-md-2">Camp Status</div>
            <div class="col-md-10">
                <select name="camp_status"
                        id="campStatus"
                        ng-model="ctrl.formData.camp_status"
                        required
                        ng-options="status.id as status.title for status in ctrl.campStatuses">
                </select>
            </div>
        </div>
        <div class="row" ng-class="{ 'has-error' : siteContentForm.name.$invalid && !siteContentForm.name.$pristine }">
            <div class="col-md-2 lblLarge"><i class="fi-asterisk text-danger"></i> Camp Name</div>

            <div class="col-md-10">

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="flagIcon flagIconEnglish"></div>
                    <div class="text-center text-small">This column in English</div>
                    <input type="text" name="camp_name_en"
                           class="form-control ng-dirty ng-invalid"
                           ng-model="ctrl.formData.camp_name_en" placeholder="English Camp Name" required/>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="flagIcon flagIconHebrew"></div>
                    <div class="text-center text-small">This column in Hebrew</div>
                    <input type="text" name="camp_name_he"
                           class="form-control langHebrew ng-dirty ng-invalid"
                           ng-model="ctrl.formData.camp_name_he" placeholder="Hebrew Camp Name" required/>
                </div>
            </div>
            <div class="validatorReqError">
                <p ng-show="siteContentForm.camp_name_en.$invalid && !siteContentForm.camp_name_en.$pristine">
                    English Camp name is incomplete.
                </p>
                <p ng-show="siteContentForm.camp_name_he.$invalid && !siteContentForm.camp_name_he.$pristine">
                    Hebrew Camp name is incomplete.
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-2"><i class="fi-asterisk text-danger"></i> Camp Description</div>

            <div class="col-md-10">
                <div class="col-md-4 col-lg-6">
                    <textarea name="camp_desc_en" id="inCampDescEn" class="form-control" placeholder=""
                              ng-model="ctrl.formData.camp_desc_en" required></textarea>
                </div>
                <div class="col-md-4 col-lg-6">
                    <textarea name="camp_desc_he" id="inCampDescHe" class="form-control langHebrew" placeholder=""
                              ng-model="ctrl.formData.camp_desc_he" required></textarea>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-10">
                <h4>
                    How will new members contact you?
                </h4>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Contact Name</div>

            <div class="col-md-10">
                <div class="col-md-6">
                    <input ng-model="ctrl.formData.contact_name_en" id="inContactNameEn" type="text"
                           class="form-control" placeholder="(English)"/>
                </div>
                <div class="col-md-6">
                    <input ng-model="ctrl.formData.contact_name_he" id="inContactNameHe" type="text"
                           class="form-control langHebrew" placeholder="(Hebrew)"/>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-2">Email</div>

            <div class="col-md-10">
                <input ng-model="ctrl.formData.contact_email" id="inEmailAddress" type="email" class="form-control"
                       validate-email name="email" ng-model="email" />
            </div>

            <div class="validatorReqError">
                <p ng-show="siteContentForm.email.$invalid && !siteContentForm.email.$pristine">Email is incomplete</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">Phone Number</div>

            <div class="col-md-10">
                <input ng-model="ctrl.formData.contact_phone" id="inPhoneNum" type="tel" class="form-control"
                       validate-phone name="phone" ng-model="phone" placeholder="" ng-minlength="9" ng-maxnlength="13"/>
            </div>

            <div class="validatorReqError">
                <p ng-show="siteContentForm.phone.$invalid && !siteContentForm.phone.$pristine">Phone is incomplete</p>
                <p ng-show="siteContentForm.phone.$error.minlength || siteContentForm.phone.$error.minlength">
                    Phone must be at least 9 digits</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Facebook</div>

            <div class="col-md-10">
                <input ng-model="ctrl.formData.contact_facebook" id="inCampFbAddress" type="text" class="form-control"
                       placeholder="www.facebook.com/your-camp-name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Do you accept families to your camp?</div>
            <div class="col-md-8">
                <label>
                    Yes
                    <input ng-model="ctrl.formData.accepting_families" type="radio" ng-value="true"/>
                </label>
                <label>
                    No
                    <input ng-model="ctrl.formData.accepting_families" type="radio" ng-value="false"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Show on midburn website?</div>
            <div class="col-md-8">
                <label>
                    Yes
                    <input ng-model="ctrl.formData.is_published" type="radio" ng-value="true"/>
                </label>
                <label>
                    No
                    <input ng-model="ctrl.formData.is_published" type="radio" ng-value="false"/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="" style="float: right;">
                    <i class="form-icon icon-loading" ng-if="ctrl.formStatus == 'loading'"></i>
                    <i class="form-icon u-green fi-check" ng-if="ctrl.formStatus == 'success'"></i>
                    <i class="form-icon u-red fi-x" ng-if="ctrl.formStatus == 'error'"></i>
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="siteContentForm.$invalid">{{ ctrl.submitText }}</button>
                </div>
            </div>
        </div>

    </div>
</form>