<div class="sidebar">
    <ul class="sidebar-menu">
        <li class="sidebar-menuItem" ng-repeat="item in sidebarItems track by $index"
            ng-click="ctrl.selectMainItem($index)"
            ng-class="{'is-active': $index == ctrl.selectedIndex}">
            <i class="menu-icon fi fi-{{item.icon}} large"></i>
            <div>{{ item.name }}</div>
        </li>
    </ul>
    <ul class="sidebar-children">
        <li class="sidebar-childItem" ng-repeat="item in sidebarItems[ctrl.selectedIndex].items track by $index"
            ng-click="ctrl.selectChildItem(item.childState)"
            ng-class="{'is-active': item.childState === selectedItem}">
            {{ item.name }}
        </li>
    </ul>
</div>